
<div class="image">
<h1>Landing Pages</h1>
<p class="bouton"><%= link_to "La page Checkr", home_checkr_path,  class: "nav-link" %></p>
<p class="bouton"><%= link_to "La page Flynn", home_flynn_path,  class: "nav-link" %></p>
</div>
